footer {
  background-image: url('../../../../../public/images/foo.jfif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
}
